<section class="todo-fon">
  <mat-toolbar>
    <button mat-icon-button color="primary" routerLink="/profile">
      <mat-icon>home</mat-icon>
    </button>
  </mat-toolbar>


  <div class="">

    <div class="todos center">

      <h1 class="title-todo">My ToDo List</h1>

      <div>
        <form (submit)="addTodo($event)">
          <mat-form-field class="example-full-width">
            <mat-label class="color-todo-title">add task</mat-label>
          <input matInput
            [(ngModel)]="newTodo"
            (keyup.enter)="newTodo=''"
            class="textfield"
            name="newTodo"
            placeholder="write your task">
          </mat-form-field>
          <button mat-stroked-button color="primary" class="btn-add" type="submit" [disabled]="newTodo===''">Add Todo</button>


        </form>
      </div>


      <ul class="todo">
        <li *ngFor="let todo of todos; let i=index" >
<!--          <input type="checkbox" class="checkbox" [(ngModel)]="todo.completed"/>-->
          <mat-checkbox [(ngModel)]="todo.completed" class="example-margin checked-box"></mat-checkbox>
            <span class="font-size font-todo" [ngClass]="{'checked': todo.completed}">{{ todo.newTodo }}</span>
            <span (click)="deleteTodo(i)">
              <mat-icon class="icon-todo">delete_outline</mat-icon></span>





        </li>
      </ul>

      <div class="mtop20">
        <button mat-stroked-button color="warn" (click)="deleteSelectedTodos()">Delete Selected</button>
      </div>

    </div>
  </div>


</section>



