
.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}
.body-login{
  min-height: 100vh;
  width: 100%;
  background: url('../../../assets/image/fon-pink.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container-form{
  padding: 60px;
  position: fixed; top: 50%; left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 20px;
}


.form-color{
  background-color: palegoldenrod;
  -webkit-box-shadow: 11px 13px 68px 8px rgba(0,0,0,0.75);
  -moz-box-shadow: 11px 13px 68px 8px rgba(0,0,0,0.75);
  box-shadow: 11px 13px 68px 8px rgba(0,0,0,0.75);
}

.w-100{
  width: 100%;
}
h1{
  text-align: center;
  color: mediumvioletred;
  margin-bottom: 20px;
  font-weight: 800;
}

.icons{
  color:mediumvioletred;
}
.link{
  border: none;
  color: mediumvioletred;
  margin-top: 30px;
}
.color-text-form{
  color: mediumvioletred;
}
.mat-raised-button.mat-primary.mat-button-disabled{
  color: plum;
  border: 1px solid plum;
}
