<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="over"  opened>
      <mat-toolbar color="accent">
        <span> Мой профиль </span>
      </mat-toolbar>
      <div class="navbar">
      <button mat-stroked-button class="btn-navbar" routerLink="/todo"> My ToDo List</button>
     <button mat-stroked-button class="btn-navbar">Настройки</button>
      <button mat-stroked-button (click)="logOut()" class="btn-navbar">Выход</button>
      </div>
    </mat-sidenav>
    <mat-toolbar color="warn">
      <button mat-mini-fab color="primary" (click)="sidenav.open()" >
        <mat-icon> menu</mat-icon>
      </button>
      <p class="profile color-text-form" > Мой профиль </p>
    </mat-toolbar>

    <div class="container">

      <!--CARD-->
      <div class="center margin-top">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{user.name}}</mat-card-title>
            <mat-card-subtitle>profile</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="../../../assets/image/avaras.jpg" alt="Photo of a Shiba Inu">

          <div class="center-lines">

            <mat-card-content>
              <form class="example-form" [formGroup]="">
                <mat-form-field class="example-full-width">
                  <mat-label>Name</mat-label>
                  <input matInput placeholder="Ex. Pizza" [value]= user.name>
                </mat-form-field>
              </form>
            </mat-card-content>

            <mat-card-content>
              <form class="example-form">
                <mat-form-field class="example-full-width">
                  <mat-label>Email</mat-label>
                  <input matInput placeholder="Ex. Pizza" [value]= user.email>
                </mat-form-field>
              </form>
            </mat-card-content>

            <mat-card-content>
              <form class="example-form">
                <mat-form-field class="example-full-width">
                  <mat-label>Password</mat-label>
                  <input  [type]="hide ? 'password' : 'text'" matInput placeholder="Ex. Pizza"
                          [value]="user.password">
                  <button (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" mat-icon-button
                matSuffix>
          <mat-icon class="icons">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
                </mat-form-field>
              </form>
            </mat-card-content>
            <button color="primary" mat-raised-button>Edit</button>

          </div>

        </mat-card>

</div>
