.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

.container-form{
  padding: 60px;
  position: fixed; top: 50%; left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 20px;
}

.form-color{
  background-color: plum;
}

.w-100{
  width: 100%;
}
h1{
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
  font-weight: 800;
}

.icons{
  color:#fff;
}
.link{
  border: none;
  color: mediumvioletred;
  margin-top: 30px;
}
